/* Books.css */

/* Books.css */

.booksContainer {
    padding-top: 50px;
    text-align: center; /* Center the text */
  }
  
  .booksGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  /* Add these styles to make the heading attractive */
  .booksContainer h2 {
    color: rgb(217, 233, 236); /* Choose your desired text color */
    font-size: 2em; /* Adjust the font size */
    margin-bottom: 20px; /* Add some spacing below the heading */
    font-weight: bold; /* Make the text bold */
  }
    
  /* BookCard.css */
  
  .bookCard {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .bookCard h3 {
    margin-bottom: 10px;
  }
  